<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	title Forus
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
	link(rel="stylesheet", href="css/owl.carousel.min.css")
	link(rel="stylesheet", href="css/owl.theme.default.css")
	link(rel="stylesheet", href="css/style.css")
body
	include modules/header.jade
	.modal.fade.big.video(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				iframe(height="315" src="https://www.youtube.com/embed/1hGDEL2zrvs" frameborder="0")
	.about-container
		.about-ui
			a.about-arrow.prev(href="#")
				img(src="img/white_arrow_left.svg", alt="")
			.about-dots-container
			a.about-arrow.next(href="#")
				img(src="img/white_arrow_right.svg", alt="")
		.about-slider.owl-carousel
			.item.about-video(style="background-image: url(img/about1.jpg)")
				.black-overlay
				.content
					h1 Форус
					.right-text
						p Комплекс решений <Br>для высоких достижений
						a(href="" data-toggle="modal" data-target=".modal.video").button-block
							.text Смотреть видео
							.play
								img(src="img/play.svg", alt="")
			.item.about-value(style="background-image: url(img/about2.jpg)")
				.black-overlay
				.content
					h2 Наши ценности <br>и культура
					p.subtext Наша Формула Успеха – наши ценности. Они лежат в основе мыслей и действий. Они помогают нам держать правильный курс и ориентироваться в сложных ситуациях
					.value-container
						.value-item 
							.value-title Профессиональный подход
							.text В это понятие мы вкладываем знания, опыт и компетенции. Мы берем обязательства и отвечаем за результат. Ежедневно развиваемся и задаемся вопросом: как стать ещё лучше.
						.value-item 
							.value-title Максимальная эффективность
							.text Это то, к чему мы стремимся, прибыль – один из показателей эффективности. Для нас это не просто деньги, а возможность реализовывать желания сотрудников и компании.
						.value-item 
							.value-title Лидирующие позиции
							.text Мыслим проактивно и находим нестандартные решения. Готовы рисковать за идею, создавать новые продукты и технологии.
						.value-item 
							.value-title Реализуемые инновации
							.text Мыслим проактивно и находим нестандартные решения. Готовы рисковать за идею, создавать новые продукты и технологии.
						.value-item 
							.value-title Искренний сервис
							.text Мыслим проактивно и находим нестандартные решения. Готовы рисковать за идею, создавать новые продукты и технологии.
			.item.about-achivements(style="background-image: url(img/about3.jpg)")
				.black-overlay
				.content
					h2 Преимущества <br> и достижения
					.row
						.col-lg-4.col-md-4.col-sm-6.col-xs-12.vcenter
							.text
								p #[span 1] из крупнейших IT-компаний Сибири и Дальнего Востока
						.col-lg-4.col-md-4.col-sm-6.col-xs-12.vcenter
							.text
								p Представитель #[span 100] ведущих разработчиков программного обеспечения
						.col-lg-4.col-md-4.col-sm-6.col-xs-12.vcenter
							.text
								p Опыт с #[span 1992]
						.col-lg-4.col-md-4.col-sm-6.col-xs-12.vcenter
							.text
								p #[span 350] сотрудников
						.col-lg-4.col-md-4.col-sm-6.col-xs-12.vcenter
							.text
								p #[span Лидер] в России по «облачным» сервисам «1С» и Microsoft
						.col-lg-4.col-md-4.col-sm-6.col-xs-12.vcenter
							.text
								p #[span Надежный] работодатель и партнер
			.item.forus(style="background-image: url(img/about4.jpg)")
				.black-overlay
				.forus-title Форус – это мы

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/jquery.mousewheel.min.js")
	script(src="js/app.js")