<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	title Forus
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
	link(rel="stylesheet", href="css/owl.carousel.min.css")
	link(rel="stylesheet", href="css/owl.theme.default.css")
	link(rel="stylesheet", href="css/style.css")
body
	include modules/header.jade
	.hero-block
		.img-block.students(style="background-image: url(img/life.jpg)")
			.gradient-overlay
		.hero-bottom-text
			ol.breadcrumb
				li
					a(href="#") Главная
				li.active
					h1 Жизнь компании
	.container-fluid
		.vacancy-block.tab-block
			.row.vacancy-items
				.col-lg-3.col-md-6.col-sm-6.col-xs-6.item-container
					a(href="").item
						span Новости
				.col-lg-3.col-md-6.col-sm-6.col-xs-6.item-container
					a(href="").item
						span Корпоративные мероприятия
				.col-lg-3.col-md-6.col-sm-6.col-xs-6.item-container
					a(href="").item
						span Сотрудник года
				.col-lg-3.col-md-6.col-sm-6.col-xs-6.item-container
					a(href="").item
						span Хобби и творчество
				.col-lg-3.col-md-6.col-sm-6.col-xs-6.item-container
					a(href="").item
						span Благодарю
			.vacancy-city-content.life-tab
				.section
					.row
						.col-lg-8.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews1.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews3.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews3.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
				.section
					.row
						.col-lg-8.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews1.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews3.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews3.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
						.col-lg-4.col-md-6.col-sm-12.col-xs-12
							a(href="").new
								.img-block(style="background-image: url(img/lifenews2.jpg)")
									.gradient-overlay
								.date 9 Ноября 2016
								.name Microsoft повышает цены на свои продукты с нового года
				.section
					.text-container
						h2 Сотрудник года
						p В рассматриваемом письме министерство привело в пример налогоплательщика (предпринимателя). Он был зарегистрирован с 15.04.2015 и с этой даты по 15.12.2015 применял ПСН по льготному виду деятельности по ставке 0 процентов.
						p В рассматриваемом письме министерство привело в пример налогоплательщика (предпринимателя). Он был зарегистрирован с 15.04.2015 и с этой даты по 15.12.2015 применял ПСН по льготному виду деятельности по ставке 0 процентов.
						p По мнению специалистов Минфина России, такому налогоплательщику может быть выдан новый (льготный) патент со сроком начала действия с 01.01.2016. Это возможно при условии, что он не получал других патентов по этому виду деятельности со сроком окончания 31.12.2015.
						p Исходя из этого, министерство пришло к выводу, что если предприниматель зарегистрирован в 2015 году и оказывает услуги населению, он не вправе с 1 января 2016 применять ставку ПСН 0 процентов. Дело в том, что такой налогоплательщик не является впервые зарегистрированным. Правом применять эту льготу обладают лишь те предприниматели, которые зарегистрированы в 2016 году.
				.section
					.hobbies-articles
						.row.hobbies
							.col-lg-6.col-md-12.col-sm-12.col-xs-12
								a(href="#").item
									.img-block(style="background-image: url(img/hob1.jpg)")
										.gradient-overlay
									.text
										span Клуб саморазвития
							.col-lg-6.col-md-12.col-sm-12.col-xs-12
								a(href="#").item
									.img-block(style="background-image: url(img/hob2.jpg)")
										.gradient-overlay
									.text
										span Спортивный клуб
				.section
					.text-container
						h2 Благодарю
						p В рассматриваемом письме министерство привело в пример налогоплательщика (предпринимателя). Он был зарегистрирован с 15.04.2015 и с этой даты по 15.12.2015 применял ПСН по льготному виду деятельности по ставке 0 процентов.
						p В рассматриваемом письме министерство привело в пример налогоплательщика (предпринимателя). Он был зарегистрирован с 15.04.2015 и с этой даты по 15.12.2015 применял ПСН по льготному виду деятельности по ставке 0 процентов.
						p По мнению специалистов Минфина России, такому налогоплательщику может быть выдан новый (льготный) патент со сроком начала действия с 01.01.2016. Это возможно при условии, что он не получал других патентов по этому виду деятельности со сроком окончания 31.12.2015.
						p Исходя из этого, министерство пришло к выводу, что если предприниматель зарегистрирован в 2015 году и оказывает услуги населению, он не вправе с 1 января 2016 применять ставку ПСН 0 процентов. Дело в том, что такой налогоплательщик не является впервые зарегистрированным. Правом применять эту льготу обладают лишь те предприниматели, которые зарегистрированы в 2016 году.


	include modules/footer.jade

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/app.js")