<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	title Forus
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
	link(rel="stylesheet", href="css/owl.carousel.min.css")
	link(rel="stylesheet", href="css/owl.theme.default.css")
	link(rel="stylesheet", href="css/style.css")
body
	include modules/header.jade
	.hero-block.text-page
		.img-block.students(style="background-image: url(img/text-img.jpg)")
			.gradient-overlay
		.hero-bottom-text
			ol.breadcrumb
				li
					a(href="#") Главная
				li
					a(href="") Жизнь компании
				li.active
					span 7 Ноября 2016
					.line
					h1 ГК "Форус" получила награду за наибольшее количество новых клиентов от "Лаборатории Касперского"
	.container-fluid
		.text-container
			p В этом году "Лаборатория Касперского" собрала своих ключевых партнеров в Сочи на 10-й по счету всероссийской партнерской конференции "Эффективное сотрудничество". 
			img(src="img/text-img1.jpg", alt="")
			p Поскольку эта конференция стала юбилейной, компания решила не просто выделить лучших партнеров по итогам прошлого года, а наградить 10 партнеров, которые добились заметного прорыва в своей работе за последние 10 лет. Группа компаний "Форус" вошла в их число и получила награду за наибольшее количество новых клиентов и благодарственное письмо за сотрудничество более 10 лет из рук Евгения Касперского. 
			img(src="img/text-img2.jpg", alt="")
			p Для нас эта награда – признание вендором нашей непрерывной работы и профессиональных достижений. Мы не планируем останавливаться на достигнутом, поэтому продолжаем ежедневно ставить перед собой новые интересные задачи и выполнять их.
			div.quote
				img(src="img/quote.svg", alt="")
				span Комментарий
				p «Партнеры являются неотъемлемой частью нашего бизнеса, поскольку именно они выступают крайне важным связующим звеном между нами и нашими пользователями. Мы высоко ценим их вклад в нашу деятельность и во многом связываем наш успех в России с высококачественной работой партнеров. Со многими из них мы сотрудничаем уже сильно больше 10 лет, так что их по праву можно назвать частью большой команды «Лаборатории Касперского». Надеемся, что наша дальнейшая совместная работа будет такой же плодотворной», – отметил Сергей Земков, управляющий директор «Лаборатории Касперского» в России, странах Закавказья и Средней Азии.
			img(src="img/text-img3.jpg", alt="")
			img(src="img/text-img4.jpg", alt="")





	include modules/footer.jade

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/app.js")