html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	title Forus
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
	link(rel="stylesheet", href="css/owl.carousel.min.css")
	link(rel="stylesheet", href="css/owl.theme.default.css")
	link(rel="stylesheet", href="css/style.css")
body
	header.white
		.container-fluid
			.row
				.col-lg-4.col-md-4.col-sm-4.vcenter.phone
					a(href="tel:+7 (3952) 25–87–33") +7 (3952) #[span 25–87–33] 
				.col-lg-4.col-md-4.col-sm-4.vcenter.logo
					img(src="img/logo_white.svg", alt="")
					img(src="img/color_logo.svg").onWhite				
				.col-lg-4.col-md-4.col-sm-4.col-xs-.vcenter.menu
					a(href="#")
						p Меню
						.burger
							span
	.hero-block.text-page.no-img
		.hero-bottom-text
			ol.breadcrumb
				li
					a(href="#") Главная
				li
					a(href="") Жизнь компании
				li.active
					span 7 Ноября 2016
					.line
					h1 Оформление командировок: практические рекомендации, регистрация и расчет в программе "1С:Зарплата и управление персоналом 8" (ред. 3)
	.container-fluid
		.text-container
			.doc
				h2 Документ
				img(src="img/doc.svg", alt="")
				span Письмо Минфина России от #[a(href="#") 17.10.2016 № 03-11-09/60291].
			div.quote
				img(src="img/quote.svg", alt="")
				span Комментарий
				p С недавнего времени субъекты РФ получили право устанавливать для предпринимателей налоговые каникулы по УСН и (или) ПСН (#[a(href="") п. 4 ст. 346.20 НК РФ], #[a(href="") п. 3 ст. 346.50 НК РФ], #[a(href="") п. 2, 3 ст]. #[a(href="#") 2 Федерального закона от 29.12.2014 № 477-ФЗ], #[a(href="") п. 1], #[a(href="") 4 ст. 2 Федерального закона] от 13.07.2015 № 232-ФЗ).
				p Так, с 01.01.2015 по 31.12.2020 предприниматель на УСН (ПСН) вправе применять нулевую налоговую ставку, если он впервые зарегистрирован после вступления в силу соответствующего регионального закона и осуществляет деятельность в:
				ul
					li 	производственной сфере;
					li 	социальной и (или) научной сферах;
					li  сфере оказания услуг населению (с 01.01.2016)
				p В частности, предприниматели на ПСН вправе использовать налоговую ставку 0 процентов со дня их государственной регистрации непрерывно не более двух налоговых периодов в пределах двух календарных лет.
				p В связи с указанными изменениями в письме от #[a(href="") 17.10.2016 № 03-11-09/60291] Минфин России прояснил некоторые вопросы применения законодательства.
				p Финансисты напомнили, что налоговым периодом по ПСН признается календарный год (#[a(href="") п. 1 ст. 346.49 НК РФ]). Однако на основании заявления предпринимателя патент может быть выдан на период от одного до двенадцати месяцев (включительно) в пределах календарного года. Заявление следует подать не позднее чем за 10 дней до начала применения ПСН (#[a(href="") п. 5 ст. 346.45 НК РФ]). В этом случае налоговым периодом признается срок, на который выдан патент (#[a(href="") п. 2 ст. 346.49 НК РФ]).
			h2 Можно получить еще один льготный патент подряд, если деятельность не прерывалась
			p В рассматриваемом письме министерство привело в пример налогоплательщика (предпринимателя). Он был зарегистрирован с 15.04.2015 и с этой даты по 15.12.2015 применял ПСН по льготному виду деятельности по ставке 0 процентов.
			p По мнению специалистов Минфина России, такому налогоплательщику может быть выдан новый (льготный) патент со сроком начала действия с 01.01.2016. Это возможно при условии, что он не получал других патентов по этому виду деятельности со сроком окончания 31.12.2015.
			p Однако следует учитывать, что за период с 16.12.2015 по 31.12.2015 предпринимателю пришлось бы уплатить налоги по общей системе налогообложения.
			p Если указанный предприниматель, к примеру, с 07.02.2016 перешел с общего режима (с УСН) на ПСН, он не вправе применять налоговую ставку в размере 0 процентов, так как им был нарушен принцип непрерывности применения ПСН в течение двух налоговых периодов. 
			h2 При переходе на ПСН с 1 января есть право на льготу
			p Если предприниматель зарегистрирован с 15.04.2015 и с этой даты по 31.12.2015 применял общий режим налогообложения (или УСН), а с 1 января 2016 года перешел на ПСН, то есть право на ставку 0 процентов в течение 2016 года.
			h2 При совмещении нескольких режимов льготу можно применять по каждому налогу
			p Предпринимателям, совмещающим УСН и ПСН, полезно знать, что они могут одновременно применять нулевые ставки по разным налоговым режимам, если осуществляют виды деятельности, установленные в соответствии с главами 26.2 и 26.5 НК РФ.
			h2 Льгота по бытовым услугам положена только тем, кто зарегистрирован в 2016 году
			p Что касается оказания бытовых услуг населению, то по данному виду деятельности нулевую ставку ПСН можно применять только с 1 января 2016 года (#[a(href="") п. 4 ст. 2 Федерального закона от 13.07.2015 № 232-ФЗ]).
			p  Исходя из этого, министерство пришло к выводу, что если предприниматель зарегистрирован в 2015 году и оказывает услуги населению, он не вправе с 1 января 2016 применять ставку ПСН 0 процентов. Дело в том, что такой налогоплательщик не является впервые зарегистрированным. Правом применять эту льготу обладают лишь те предприниматели, которые зарегистрированы в 2016 году.
			.reccom
				img(src="img/recom.svg", alt="")
				span Рекомендации
				p Налогоплательщикам следует прислушаться к мнению Минфина России, это может стать решающим доводом в спорах с налоговой инспекцией.
				p Если налогоплательщик применял налоговую льготу в ситуации, когда, по мнению фина нсистов, это было неправомерно, следует пересчитать и доплатить налог. Если речь идет о совмещении УСН и ПСН, налог необходимо доплатить по УСН, в ином случае – по общей системе.
			.table-responsive
				table.table
					tr
						td Первый столбец таблицы
						td Второй столбец таблицы 
						td Теперь третий столбец таблицы
						td И четвертый
					tr
						td Значение 1
						td Второе значение этой таблицы
						td Значение столбца 1
						td Четвертое
					tr
						td Значение 1
						td Второе значение этой таблицы
						td Значение столбца 1
						td Четвертое
					tr
						td Значение 1
						td Второе значение этой таблицы
						td Значение столбца 1
						td Четвертое
					caption Таблица 1. Показатели продаж за период с 2014 по 2016 год.
	include modules/footer.jade

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
	script(src="js/owl.carousel.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/app.js")