.container-fluid
	footer
		.row
			.col-lg-3.col-md-6.col-sm-6.col-xs-12.footer-group
				.footer-title Работа в компании
				ul.footer-links
					li
						a(href="#") Вакансии для студентов
					li
						a(href="#") Вакансии для профессионалов
			.col-lg-3.col-md-6.col-sm-6.col-xs-12.footer-group
				.footer-title Сотрудникам
				ul.footer-links
					li
						a(href="#") Жизнь компании
					li
						a(href="#") Обучение и развитие
			.col-lg-3.col-md-6.col-sm-6.col-xs-12
				a(href="tel:+7 (3952) 78-00-00").footer-title +7 (3952) 78-00-00
				ul.footer-links
					li
						a(href="#") О компании «Форус»
			.col-lg-3.col-md-6.col-sm-6.col-xs-12
				.socials
					span Мы в:
					ul
						li
							a(href="#")
								img(src="img/fb.svg", alt="")
						li
							a(href="#")
								img(src="img/vk.svg", alt="")
						li
							a(href="#")
								img(src="img/ok.svg", alt="")
						li
							a(href="#")
								img(src="img/yt.svg", alt="")
						li
							a(href="#")
								img(src="img/insta.svg", alt="")
				.copyrights
					p Проектирование и разработка<br> — студия дизайна #[a(href="") «Чипса»], 2016