.vacancy-header(style="background-image: url(img/modal-vacancy.jpg)")
	.gradient-overlay
	h2.vacancy-title Специалист по интернет-продвижению (Служба маркетинга)
	.close.menu(data-dismiss="modal" aria-label="Close")
		a(href="#").active
			p Закрыть
				.burger
					span
.vacancy-body
	.container-fluid
		.circumstances-block
			.row
				.col-lg-3.col-md-6.col-sm-6.col-xs-12.flex
					.item
						.content
							span.name Город:
							.line
							span.text Иркутск
						img(src="img/vac1.svg", alt="")
				.col-lg-3.col-md-6.col-sm-6.col-xs-12.flex
					.item
						.content
							span.name Требуемый опыт:
							.line
							span.text 1–3 года
						img(src="img/vac2.svg", alt="")
				.col-lg-3.col-md-6.col-sm-6.col-xs-12.flex
					.item
						.content
							span.name График работы:
							.line
							span.text Пятидневка.
							span.text С 9:00 до 18:00
							span.text C 12:00 до 20:00
						img(src="img/vac3.svg", alt="")
				.col-lg-3.col-md-6.col-sm-6.col-xs-12.flex
					.item.call
						.content
							.line
							.text Откликнуться на вакансию
							a(href="").btn.default ОТКЛИКНУТЬСЯ
							a(href="").share-link Поделиться
		.info-block
			.row
				.col-lg-9.col-md-8.col-sm-12.col-xs-12
					.vacancy-text
						h2 Требования к кандидату
						ul
							li Неполное высшее образование - студент 2-3 курсов ВУЗа;
							li Умение грамотно излагать свои мысли, структурировать информацию, выделять ключевые моменты;
							li Усидчивость, высокий уровень внимательности, готовность к кропотливой работе, высокий уровень ответственности, аккуратность, организованность, высокая работоспособность и динамика, коммуникабельность, клиентоориентированность;
							li Уверенный пользователь ПК (отличное знание стандартного пакета MS Office);
							li Базовое знание HTML будет Вашим преимуществом.
						h2 Обязанности
						ul
							li Формирование текстов для сайтов и рассылок на основании шаблона/ технического задания;
							li Контентное наполнение сайта (размещение новостей, акций, мероприятий, обновление каталога и пр.);
							li Сбор отзывов клиентов (интервью, подготовка текста, согласование с клиентом);
							li Актуализация информации о компании на Интернет-ресурсах (справочники, каталоги);
							li Ведение базы данных электронных адресов для рассылок (актуализация, удаление недействующих адресов, занесение новых, проверка адресов и пр.).
						h2 Условия работы
						ul
							li Возможность работать в инновационной, динамично развивающейся Компании федерального масштаба;
							li Возможность совмещать обучение в ВУЗ-е и работу в Компании;
							li Возможность сделать старт в карьере;
							li Возможность профессиональной самореализации;
							li Возможность повышать компетенции за счет ресурсов компании;
							li Возможность реализовать свой талант через систему ценностей корпоративной культуры компании;
							li Возможность работать в отзывчивом, дружном и профессиональном коллективе;
							li Трудоустройство согласно ТК РФ;
							li 5-дневная рабочая неделя;
							li Офис в центре города, удобные транспортные коммуникации.
				.col-lg-3.col-md-4.col-sm-12.col-xs-12
					.hr-contacts
						h2 Служба Управления Пресоналом
						.contacts-group
							.name Адрес:
							.line
							.text Иркутск, ул. Партизанская, 49, 4, 5 этаж
						.contacts-group
							.name Контактные данные:
							.line
							a(href="tel:").text + 7 (3952) 78-00-00
							a(href="mailto:").text sales@forus.ru
					.vacancy-email
						form(action="")
							.form-group
								h2 Подписаться<br>на рассылку вакансий
							.form-group
								select.select2(name="" placeholder="Все вакансии")
									option(value="0") Все вакансии
									option(value="1") Бухгалтерия
									option(value="2") IT
							.form-group
								input(type="email", name="", placeholder="Электронная почта")
							.form-group
								input(type="submit", value="подписаться")
					.news-block
						.new
							a(href="").new.big
								.img-block(style="background-image: url(img/new1.jpg)")
									.gradient-overlay
								.date Карьерные перспективы
								.name Как строится карьерная лестница наших сотрудников



